body{

margin:0;

font-family:Arial;

background:#fafafa;

}

header{

background:#1565C0;

color:white;

padding:12px;

}

main{

padding:15px;

}

footer{

position:fixed;

bottom:0;

width:100%;

text-align:center;

padding:8px;

background:#eee;

font-size:12px;

}
